.gridflow-box-shadow-component {

	> .components-base-control__field {
		display: grid;
		align-items: center;
		margin-top: 16px;
		grid-template-columns: 1fr auto auto;
		column-gap: 10px;

		> .components-dropdown {
			margin: 0;
		}
	}

	&__reset {
		height: 30px;
		min-height: 30px;
	}

	&__popover {

		.components-popover__content {
			min-width: 240px;
		}
	}

	&__button {
		height: 30px !important;
		min-height: 30px !important;
		line-height: 30px !important;
		min-width: 40px !important;
		width: 40px !important;
	}

	.gridflow-color-component {
		margin: 0 10px 0 auto !important;

		> .components-base-control__field {
			margin: 0 !important;
		}
	}
}
