.gridflow-icon-box {

	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0;
		padding: 0;
		margin-bottom: 15px;
		line-height: 1;
	}

	&__link {
		margin: 0;
		padding: 0;
		vertical-align: middle;

		&:focus {
			outline: none;
			box-shadow: none;
			border: none;
			background: none;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: transparent;
		}
	}

	&__img {
		object-position: center;
		object-fit: cover;
		max-width: 100%;
		height: auto;
	}

	&__content {
		flex: 1;
		margin: 0;
		padding: 0;
		line-height: 1;
		width: 100%;

		> [data-block].wp-block {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__i {
		font-size: 60px;
	}

	&__wrapper {

		&--icon {

			&--left,
			&--right {
				display: flex;
				align-items: flex-start;
				flex-direction: row;
			}

			&--left {

				.gridflow-icon-box {

					&__icon {
						margin-right: 15px;
					}
				}
			}

			&--right {
				flex-direction: row-reverse;

				.gridflow-icon-box {

					&__icon {
						margin-left: 15px;
					}
				}
			}
		}
	}
}
