.gridflow-color-component {

	> .components-base-control__field {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 16px;

		> .components-dropdown {
			margin: 0;
		}

		.components-circular-option-picker__option-wrapper {
			height: 28px !important;
			width: 28px !important;
			box-shadow: none !important;
			outline: none !important;
			background-image: none !important;
		}
	}

	&__tabs {
		display: flex;
		margin-bottom: 10px;

		> button {
			display: inline-flex !important;
			justify-content: center !important;
			align-items: center !important;
			flex: 1 !important;
			height: 34px !important;
			margin: 0 !important;
			padding: 6px 20px !important;
			font-size: 12px !important;
		}
	}

	&__popover {

		.components-popover__content {
			min-width: 290px;
		}
	}
}
