.gridflow-accordion {

	.gridflow-accordion__item {

		&__wrapper {
			border-radius: 4px;
		}

		&__title {
			margin: 0;
			padding: 10px 20px;
			background: #eee;
			border-radius: 4px;
		}

		&__content {
			margin: 0;
			padding: 10px 20px;
			border: 2px solid #eee;
			border-radius: 0 0 4px 4px;

			.block-editor-block-list__layout {

				> .wp-block {
					margin: 0;
				}
			}
		}

		&.is-selected {

			.gridflow-accordion__item__title {
				border-radius: 4px 4px 0 0;
			}
		}
	}
}
