.gridflow-accordion {

	.gridflow-accordion__item {

		&__title {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin: 0;
			padding: 12px 20px;
			border: 2px solid #eee;
			background: #eee;
			border-radius: 4px 4px 0 0;
			user-select: none;
			cursor: pointer;

			&-content {
				flex: 1;
				font-size: 1rem;
				line-height: 1;
			}
		}

		&__icon {
			flex: 0;
			line-height: 1;

			&__opened {
				display: none;
			}

			i::before {
				font-size: 14px;
				color: #222;
			}
		}

		&__content {
			display: none;
			margin: 0;
			padding: 10px 20px;
			border: 2px solid #eee;
			border-radius: 0 0 4px 4px;
		}

		&.active {

			.gridflow-accordion__item__content {
				display: block;
			}

			.gridflow-accordion__item__icon__closed {
				display: none;
			}

			.gridflow-accordion__item__icon__opened {
				display: block;
			}
		}
	}
}
