body.gridhub-styles {

	.gridhub-button {

		a.gridhub-button__link {
			display: inline-flex;
			padding: 12px 24px;
			text-align: center;
			align-items: center;
			justify-content: center;
			transition: all 0.3s;
			border: 2px solid #222;
			color: #fff;
			background-color: #222;
			line-height: 1;
			border-radius: 4px;
			font-weight: 600;
			text-decoration: none;
		}

		&.is-style-link {

			.gridhub-button__link {
				padding: 0;
				background: transparent;
				border: none;
				box-shadow: none;
				color: #222;

				&:hover {
					background: transparent;
					border: none;
					box-shadow: none;
				}
			}
		}

		&.is-style-outline {

			.gridhub-button__link {
				background: transparent;
				color: #222;
				border: 2px solid #222;
			}
		}

		&.is-style-elevated {

			.gridhub-button__link {
				background: #fff;
				color: #222;
				border: 1px solid rgba(0, 0, 0, 0.25);
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
			}
		}
	}
}
