.gridhub-control {

	&__label {
		box-sizing: border-box;
		margin: 0;
		font-weight: 400;
	}

	&__header {
		padding-bottom: 3px;
	}
}

.gridhub-enable-reponsive-component {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.gridhub-reponsive-component {
	margin: 0 !important;
	position: relative;
	width: 24px;
	height: 24px;

	&__show {
		top: calc(-1 * var(--gridhub-reponsive-top) * 24px) !important;
	}

	&__inner {
		display: flex !important;
		flex-direction: column !important;
		flex-wrap: nowrap !important;
		justify-content: flex-start;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 2px;
		position: absolute;
		top: 0;
		z-index: 9999;

		> button {
			width: 22px !important;
			height: 22px !important;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 6px !important;
			margin: 0 !important;
			cursor: pointer;
			border: none !important;
			border-radius: 0 !important;
			color: #374151 !important;
			font-weight: 400;
			background: none;
			vertical-align: middle;

			&.is-active {
				background-color: #ddd !important;
			}

			&.is-hidden {
				display: none !important;
			}

			&:focus {
				--border-opacity: 1;
				box-shadow: 0 0 0 1px rgba(164, 202, 254, 0.45) !important;
				outline: 1px solid transparent !important;
				outline-offset: 1px;
				border-color: rgba(164, 202, 254, var(--border-opacity)) !important;
			}

			> svg {
				height: 10px !important;
				fill: #444 !important;
				outline: none;
				width: 10px !important;
			}
		}
	}
}

.gridhub-unit-component {
	margin: 0;
	margin-left: auto !important;

	select {
		width: 52px !important;
		height: 24px !important;
		min-height: 24px !important;
		min-width: 24px !important;
		line-height: 22px !important;
		padding: 0 6px !important;
		background-size: 12px 11px !important;
		background-color: #ddd !important;
		border: none !important;
		border-radius: 4px !important;
		box-shadow: none !important;
		color: #333 !important;
		margin: 0 !important;
		font-size: 10px !important;
		font-weight: 500 !important;

		&:focus {
			box-shadow: none !important;
			outline: none !important;
			border: none !important;
		}
	}
}

@import "../components/**/editor.scss";
@import "../blocks/**/editor.scss";
@import "../inspector/**/editor.scss";
