.gridflow-tabs {

	&__title {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow: hidden;

		> button.gridflow-tabs__title__button {
			position: relative;
			display: flex;
			align-items: center;
			flex-flow: row nowrap;
			margin: 0;
			padding: 20px 25px;
			background: #eee;
			border: 2px solid #eee;
			border-bottom: none;
			outline: none;
			color: #222;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1;

			&-active {
				background: transparent;

				&::before {
					content: "";
					position: absolute;
					border-bottom: 2px solid #eee;
					right: 100%;
					bottom: 0;
					height: 0;
					width: 999em;
					z-index: 2;
				}

				&::after {
					content: "";
					position: absolute;
					border-bottom: 2px solid #eee;
					left: 100%;
					bottom: 0;
					height: 0;
					width: 999em;
					z-index: 2;
				}
			}

			.gridflow-tabs__title__button__remove {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0;
				height: 24px;
				width: 24px;
				min-width: 24px;
			}

			> i,
			> img {
				margin-right: 5px;
			}
		}
	}

	&__content {

		.gridflow-tab {
			margin: 0 !important;
			padding: 0 !important;

			&__panel {
				display: none;
				margin: 0;
				padding: 20px;
				border: 2px solid #eee;
				border-top: none;
			}

			&:first-child {

				.gridflow-tab__panel {
					display: block;
				}

				.gridflow-tabs__title__button--mobile {

					~ .gridflow-tab__panel {
						display: none;
					}
				}
			}

			.gridflow-tab {

				@media (max-width: 767px) {
					margin-bottom: 10px;
				}
			}

			button.gridflow-tabs__title__button--mobile {
				position: relative;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				width: 100%;
				text-align: left;
				margin: 0;
				padding: 20px 25px;
				background: #eee;
				border: 2px solid #eee;
				border-bottom: none;
				outline: none;
				color: #222;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1;

				> i,
				> img {
					margin-right: 5px;
				}
			}
		}
	}

	&__icons--right {

		.gridflow-tabs {

			&__title {

				&__button {

					> i,
					> img {
						order: 2;
					}
				}
			}
		}
	}
}
