.gridflow-tabs {

	&__title {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__content {

		> .gridflow-tab {
			display: none;

			&:first-child {
				display: block;
			}
		}
	}
}
