.gridhub-range-control {
	margin-bottom: 20px;

	&__label {
		--text-opacity: 1;
		color: #374151;
		color: rgba(55, 65, 81, var(--text-opacity)) !important;
		font-weight: 500;
		margin-bottom: 5px;
	}

	&__content {
		margin-top: 10px;
		width: 100%;
		flex: 1 1 100%;
	}

}

