.gridflow-alert {

	&__wrapper {
		--gridflow-alert-border-color: rgba(248, 113, 113, 1);
		--gridflow-border-width: 2px;
		position: relative;
		padding: 16px;
		background-color: rgba(254, 226, 226, 1);

		&--icon {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			.gridflow-alert {

				&__icon {
					align-self: var(--gridflow-alert-icon-align);
					margin-right: var(--gridflow-alert-icon-spacing, 10px);

					> i {
						font-size: var(--gridflow-alert-icon-size);
						line-height: var(--gridflow-alert-icon-size, 1);
					}

					> img {
						width: var(--gridflow-alert-icon-size);
					}
				}

				&__text {
					align-self: center;
					flex: 1;
				}
			}
		}
	}

	&__title {
		margin: 0;
		font-weight: 600;
		line-height: 1;
		padding-bottom: 10px;
	}

	&__content {
		margin: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
	}

	&__dismiss {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 15px;
		right: 15px;
		background: transparent !important;
		border: none;
		box-shadow: none;
		outline: none;
		font-size: 10px;
		line-height: 1;
		cursor: pointer;

		&:hover,
		:focus {
			border: none;
			box-shadow: none;
			outline: none;
		}
	}

	&--type {

		&__left-border {
			--gridflow-border-width: 5px;
			border-width: 0;
			border-left-width: var(--gridflow-border-width);
			border-color: var(--gridflow-alert-border-color);
			border-style: solid;
		}

		&__titled {
			margin: 0;
			padding: 0;
			--gridflow-border-width: 1px;

			.gridflow-alert {

				&__title {
					color: #fff;
					padding: 12px 16px;
					background-color: var(--gridflow-alert-border-color);
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}

				&__content {
					padding: 18px 16px;
					border-width: var(--gridflow-border-width);
					border-top-width: 0;
					border-style: solid;
					border-color: var(--gridflow-alert-border-color);
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}

				&__dismiss {

					> svg {
						fill: #fff;
					}
				}
			}
		}

		&__top-border {
			--gridflow-border-width: 5px;
			border-width: 0;
			border-top-width: var(--gridflow-border-width);
			border-color: var(--gridflow-alert-border-color);
			border-style: solid;
		}

		&__banner {
			--gridflow-border-width: 2px;
			--gridflow-border-width: 2px;
			border-width: 0;
			border-top-width: var(--gridflow-border-width);
			border-bottom-width: var(--gridflow-border-width);
			border-color: var(--gridflow-alert-border-color);
			border-style: solid;
		}
	}
}
